html {
    background-color: black;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}
span, button {
    margin: 20px;
    color: white;
    font-size: 50px;
    border: none;
    margin-top: 375px;
    border-radius: 20px;
    background-color: black;
    
}
.start-button:hover{
    color: green;

}
.pause-button:hover, .reset-button:hover{
    color: red;
}
.current-time {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}