.login {
  font-family: 'Inter', sans-serif;
  background-color: #1e1e2e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #2e2e3e;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-sign-in-text {
  font-size: 24px;
  margin-bottom: 20px;
  color: #f8bd96;
}

.login-inputs {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #444466;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
}

.login-inputs:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.login-password-container {
  display: flex;
  align-items: center;
}

.login-password-input {
  flex: 1;
}

.login-button {
  background-color: #8d86c9;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #b4befe;
}

.login-sign-in-button {
  width: 100%;
  margin-top: 20px;
  background-color: #8d86c9;
}

.error-message {
  color: #ff5555;
  margin-top: 10px;
  font-size: 14px;
}
